



<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form #loginform="ngForm" (ngSubmit)="loginUser()">
                  <small class="text-danger">{{msg}}</small>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0" style="text-align:center ;">BITS</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign in to your account</h5>
                  
                  
                  <div class="form-field align-items-center">
                    
                    <i class="fa-solid fa-user"></i>
                    <input type="email" id="userName"  class="form-control form-control-lg"   placeholder="Enter email"     name="email" [(ngModel)]="user.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                    [class.is-invalid]="email.invalid && email.touched"/>
                    <label class="form-label" for="form2Example17"></label>
                    <small class="text-danger" [class.d-none]="email.valid || email.untouched">*Email Id is required </small>
                  </div>

                  
<br>
                  <div class="form-field align-items-center">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel"
                    [class.is-invalid]="password.invalid && password.touched">
                    <label class="form-label" for="form2Example27"></label>
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">*password is required </small>
                   
                  </div>

                  

                  <div class="row mb-4" >
                    <div class="col d-flex justify-content-center" >
                  <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-dark btn-lg btn-block" >Login</button>
                        
                </div>
              </div>

              
              <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" style="color: #393f81;" [routerLink]="['/registration']">Register here</a></p>
                  

         </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





































