<!--<form (ngSubmit)="loginUser()">         
    <button type="submit" class="btn btn-primary">Back to Home</button>        
  </form>-->
  
<h2> courses List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>  Name </th>
            <th> Fees </th>
            
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>  B.S.C </th>
            <th> 15,000 </th>
            
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>  B.A </th>
            <th> 10,000 </th>
            
        </tr>

    </tbody>
    <tbody>
        <tr>
            <th>  B.Com </th>
            <th> 10,000 </th>
            
        </tr>

    </tbody>
    <tbody>
        <tr>
            <th>  BBA </th>
            <th> 50,000 </th>
            
        </tr>

    </tbody>
    <tbody>
        <tr>
            <th>  B.tech</th>
            <th> 70000 </th>
            
        </tr>

    </tbody>
    
 
    <!--<tbody>
        <tr *ngFor="let courses of courses">
            <td> {{courses.name}} </td>
           
            <td> {{courses.fees}} </td>
            <td>
                
                <button 
                (click) = "viewCourses(courses.id)"
                class="btn btn-info"> View
                </button>
                &nbsp;
            </td>
        </tr>
    </tbody>-->
</table>
